/* #region themes */
.dark-theme {
    --color-primary: #1a1a1a;
    --color-secondary: #333333;
    --color-tertiary: #263d3d;
    --color-accent: #38d8a3;
    --color-font: #F5F5F5;
}

.light-theme {
    --color-primary: #FFFFFF;
    --color-secondary: #fdf8ea;
    --color-tertiary: #CCD5AE;
    --color-accent: #95721f;
    --color-font: #333333;
}
/* #endregion */

/* #region fonts */
@font-face {
    font-family: 'Lexend Exa';
    src: url('../fonts/LexendExa.ttf')
}
/* #endregion */

body {
    color: var(--color-font);
    background: var(--color-secondary);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lexend Exa", sans-serif;
}

#loading {
    display: none;
    align-content: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: var(--color-primary);
}

#loaded {
    display: flex;
    width: 100vw;
}

#toolbar {
    position: sticky;
    box-sizing: border-box;
    top: 0;
    height: 100vh;
    flex: 1;
    border : 0.1rem solid var(--color-accent);
    border-radius: 1rem;
    background: var(--color-primary);
    margin: 0;
    padding: 0;
}

#content {
    flex: 4;
    background: var(--color-secondary);
    margin: 0;
    padding: 0;
}

/* #region table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 0.1rem solid var(--color-tertiary);
}

th {
    color: var(--color-accent);
}
/* #endregion */