/* #region themes */
.dark-theme {
    --color-primary: #1a1a1a;
    --color-secondary: #333333;
    --color-tertiary: #263d3d;
    --color-accent: #38d8a3;
    --color-font: #F5F5F5;
}

.light-theme {
    --color-primary: #FFFFFF;
    --color-secondary: #fdf8ea;
    --color-tertiary: #CCD5AE;
    --color-accent: #95721f;
    --color-font: #333333;
}
/* #endregion */

/* #region fonts */
@font-face {
    font-family: 'Lexend Exa';
    src: url('../fonts/LexendExa.ttf')
}
/* #endregion */

body {
    color: var(--color-font);
    background: var(--color-secondary);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lexend Exa", sans-serif;
    user-select: none;
}

/* #region loading */
#loading {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: var(--color-secondary);
}

#loading-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -20vh;
    border: var(--color-accent) 0.2rem solid;
    background: var(--color-primary);
    border-radius: 1rem;
    padding: 3vw;
    box-shadow: var(--color-primary) 0 0 3rem;
}

#loading-text {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

#loading-spinner {
    font-size: 3rem;
    color: var(--color-accent);
    padding: 4vw;
}
/* #endregion */

/* #region loaded */
#loaded {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    background: var(--color-secondary);
}

/* #region toolbar */
#toolbar {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    top: 0;
    height: 100vh;
    flex: 1;
    border : 0.1rem solid var(--color-accent);
    border-radius: 1rem;
    background: var(--color-primary);
    margin: 0;
    padding: 0;
    z-index: 1;
}

.toolbar-button {
    height: 8%;
    width: 90%;
    margin: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Lexend Exa", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    background: var(--color-accent);
    color: var(--color-primary);
    outline: none;
    transition: 0.2s;
}

.toolbar-button:hover {
    background: var(--color-tertiary);
    color: var(--color-accent);
    margin: calc(1vh - 0.8%) 1vh;
    height: 8.8%;
    width: 92%;
    cursor: pointer;
}

.toolbar-button:hover + .icon-tb {
    color: var(--color-accent);
    scale: 1.05;
}

.toolbar-button.disabled {
    background: var(--color-secondary);
    color: var(--color-primary);
    cursor: default;
    pointer-events: none;
}

.icon-tb {
    height: 2.5rem;
    stroke: var(--color-primary);
    transition: 0.2s;
}

.toolbar-button:hover .icon-tb {
    stroke: var(--color-accent);
}

.icon-od {
    height: 2rem;
    stroke: var(--color-accent);
}
/* #endregion */

/* #region content */
#content {
    flex: 4;
    background: var(--color-secondary);
    margin: 0;
    padding: 0;
}

/* #region table */
table {
    width: 100%;
    border-collapse: collapse;
}

table * {
    box-sizing: border-box;
}

tr {
    height: 5vh;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out,
                color 0.2s ease;
}

tr:first-of-type {
    height: 10vh;
    color: var(--color-accent);
}

th, td {
    text-align: center;
}

td {
    padding: 0.5vw 0;
    transition: 0.1s;
    border-bottom: 0.1rem solid var(--color-tertiary);
}

.selected {
    color: var(--color-accent);
    background-color: var(--color-tertiary);
}
/* #endregion */
/* #endregion */
/* #endregion */