<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2FA required</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body class="dark-theme">
    <form action="/2fa" method="post">
        <h1>Two-Factor authentication</h1>
        <p>
            Enter the code you received on your trusted device
        </p>
        <label>
            <input type="text" name="code" id="code" placeholder="Code" autofocus>
        </label>
        <div id="submit">Validate</div>
    </form>
</body>
</html>