<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body class="dark-theme">
    <form action="/login" method="post">
        <label>
            <input type="text" name="username" placeholder="username">
        </label>
        <label>
            <input type="password" name="password" placeholder="password">
        </label>
        <button type="submit">Login</button>
    </form>
</body>
</html>