/* #region Themes */
.dark-theme{
    --font-color : #f5f5f5;
    --accent-color : #38d8a3;
    --primary-color : #1a1a1a;
    --secondary-color : #263d3d;
    --tertiary-color : #333333;
}

.light-theme{
    --font-color : #333333;
    --accent-color : #95721f;
    --primary-color : #ffffff;
    --secondary-color : #fdf8ea;
    --tertiary-color : #ccd5ae;
}
/* #endregion */

/* #region General */
body, html{
    --toggle-switch-delay: 0.3s;
    background-color: var(--primary-color);
    color: var(--font-color);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: all var(--toggle-switch-delay) ease;
}

#container{
    display : flex;
    height: 100vh;
    width: 100vw;
}
/* #endregion */

/* #region Navigation */
.navigation {
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 0 20px;
    height: 100%;
    width: 20%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.title-section{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    user-select: none;
}

.top-section{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-field {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 20px;
    margin-left: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--secondary-color);
    border-radius: 4px;
}

.field-name {
    font-size: 1em;
    font-weight: bold;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.field-value {
    font-size: 0.90em;
    font-weight: 400;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.bottom-section{
    padding: 20px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.nav-button{
    user-select: none;
    transition: all 0.3s;
    height: auto;
    width: 100%;
    padding : 10px;
    margin: 4px 0;
    cursor: pointer;
    border : none;
    border-radius: 4px;
    background-color: var(--accent-color);
    color : var(--primary-color);
    font-size: 0.75em;
    font-weight: 800;
    text-transform: uppercase;
}

.nav-button:active{
    transform: scale(0.90);
}

.nav-button:disabled{
    background-color : var(--primary-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--tertiary-color);
    color: var(--font-color);
    cursor: not-allowed;
}

#bottom-vertical{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    width: 100%;
}

#change-language-button{
    height: 35px;
    width: 50px;
}

/* Styles du switch de theme */
#toggle-switch{
    font-size: 5px;
    height: 6.25em;
}

#label-switch {
    position:absolute;
    width: 12.5em;
    height: 6.25em;
    background-color: var(--secondary-color);
    border-radius: 3.125em;
    cursor: pointer;
}

#input-switch {
    position: absolute;
    display: none;
}

#slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3.125em;
    transition: transform var(--toggle-switch-delay) ease, background-color var(--toggle-switch-delay) ease;
}

#input-switch:checked ~ #slider {
    background-color: var(--secondary-color);
}

#slider:before {
    content: "";
    position: absolute;
    top: 0.813em;
    left: 1em;
    width: 4.688em;
    height: 4.688em;
    border-radius: 50%;
    box-shadow: inset 1.75em -0.25em 0 0 var(--accent-color);
    background-color: var(--secondary-color);
    transition: transform var(--toggle-switch-delay) ease, background-color var(--toggle-switch-delay) ease;
}

#input-switch:checked ~ #slider:before {
    transform: translateX(5.938em);
    background-color: var(--accent-color);
    box-shadow: none;
}
/* #endregion */

/* region Content */
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}

.swiper-container{
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.swiper{
    top: 3%;
    width: 90%;
    height: 92%;
    max-width: 100%;
    position: relative;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.swiper-wrapper{
    height: 100%;
    width: 100%;
}

.swiper-slide{
    user-select: none;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    background-color: var(--tertiary-color);
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.swiper-slide:hover{
    background-color: var(--secondary-color);
}

.swiper-slide .selected{
    background-color: var(--accent-color);
}

.context-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    margin : 0;
    padding : 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    user-select: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--font-color);
}

.context-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.disabled{
    cursor: not-allowed;
    opacity: 0.5;
}

.progress-menu{
    position: absolute;
    top: 85%;
    left: 0;
    width: 100%;
    height: 15%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    user-select: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
}

/* Styles de la barre de progression */
.progress-bar {
    border-radius: 60px;
    overflow: hidden;
    width: 90%;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.progress-bar span {
    display : block;
}

.bar {
    background-color: var(--tertiary-color);
}

.progress {
    background-color: var(--accent-color);
    padding: 5px;
    width : 0;
}

/* Styles de la pagination */
.swiper-pagination{
    width: 100%;
    text-align: center;
    color : var(--font-color);
    margin-bottom: 20px;
}

.swiper-pagination-bullet{
    background-color: var(--font-color);
}

.swiper-pagination-bullet-active{
    background-color: var(--accent-color);
}

/* Styles des boutons de navigation */
.swiper-button-next{
    color: var(--accent-color);
    right: 2%;
}

.swiper-button-prev{
    color: var(--accent-color);
    left: 2%;
}
/* endregion */

