/* #region Themes */
.dark-theme{
    --font-color : #f5f5f5;
    --accent-color : #38d8a3;
    --primary-color : #1a1a1a;
    --secondary-color : #333333;
    --tertiary-color : #263d3d;
}

.light-theme{
    --font-color : #333333;
    --accent-color : #95721f;
    --primary-color : #ffffff;
    --secondary-color : #fdf8ea;
    --tertiary-color : #ccd5ae;
}
/* #endregion */

/* #region General */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body
{
    --toggle-switch-delay: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--primary-color);
    color: var(--font-color);
    transition: all var(--toggle-switch-delay) ease;
}
/* #endregion */

/* #region Login */ 
.login-container{
    position: absolute;
    width: 400px;
    background: var(--primary-color);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px var(--tertiary-color);
}

.wrapper{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.wrapper h2 {
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: var(--font-color);
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-box {
    position: relative;
    width: 100%;
}

.input-box input {
    position: relative;
    width: 100%;
    color: var(--font-color);
    background: var(--secondary-color);
    border: none;
    outline: none;
    padding : 25px 10px 7px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 1em;
}

.input-box i {
    position: absolute;
    left: 0;
    padding : 15px 10px;
    font-style: normal;
    transition: 0.5s;
    pointer-events: none;
}

.input-box input:focus ~ i,
.input-box input:valid ~ i {
    transform: translateY(-7px);
    font-size: 0.8em;
    color: var(--accent-color);
}

.input-box input[type="submit"] {
    transition: all 0.3s;
    padding: 10px;
    background: var(--accent-color);
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.03em;
    cursor: pointer;
}

input[type="submit"]:active
{
  transform: scale(0.90);
}
/* #endregion */

/* #region Checkbox */
.remember-me {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 0.9em;
    color: var(--font-color);
}

.label-checkbox {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
}

.label-checkbox input:checked + .checkbox {
    border-color: var(--accent-color);
}

.label-checkbox input:checked + .checkbox svg path {
    fill: var(--accent-color);
}

.label-checkbox input:checked + .checkbox svg polyline {
    stroke-dashoffset: 0;
}

.label-checkbox:hover .checkbox svg path {
    stroke-dashoffset: 0;
}

.label-checkbox .checkbox {
    position: relative;
    top: 2px;
    float: left;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    border-width: 2px;
    border-style : solid;
    border-color : var(--tertiary-color);
    border-radius: 3px;
}

.label-checkbox .checkbox svg {
    position: absolute;
    top: -2px;
    left: -2px;
}

.label-checkbox .checkbox svg path {
    fill: none;
    stroke: var(--accent-color);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 71px;
    stroke-dashoffset: 71px;
    transition: all 0.6s ease;
}

.label-checkbox .checkbox svg polyline {
    fill: none;
    stroke: var(--tertiary-color);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 18px;
    stroke-dashoffset: 18px;
    transition: all 0.3s ease;
}

.label-checkbox > span {
    pointer-events: none;
    vertical-align: middle;
}

.invisible {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}
/* #endregion */

/* #region Options */
#options {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* #endregion */

/* #region Toggle-switch */
#toggle-switch{
    font-size: 5px;
    height: 6.25em;
}

#label-switch {
    position:absolute;
    width: 12.5em;
    height: 6.25em;
    right: 1em;
    background-color: var(--secondary-color);
    border-radius: 3.125em;
    cursor: pointer;
}

#input-switch {
    position: absolute;
    display: none;
}

#slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3.125em;
    transition: transform var(--toggle-switch-delay) ease, background-color var(--toggle-switch-delay) ease;
}

#input-switch:checked ~ #slider {
    background-color: var(--secondary-color);
}

#slider:before {
    content: "";
    position: absolute;
    top: 0.813em;
    left: 1em;
    width: 4.688em;
    height: 4.688em;
    border-radius: 50%;
    box-shadow: inset 1.75em -0.25em 0 0 var(--accent-color);
    background-color: var(--secondary-color);
    transition: transform var(--toggle-switch-delay) ease, background-color var(--toggle-switch-delay) ease;
}

#input-switch:checked ~ #slider:before {
    transform: translateX(5.938em);
    background-color: var(--accent-color);
    box-shadow: none;
}
/* #endregion */
